altgraph==0.17.3
certifi==2022.12.7
future==0.18.3
macholib==1.16.2
pefile==2023.2.7
pip==23.1.2
pygame==2.4.0
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pywin32==306
pywin32-ctypes==0.2.0
setuptools==67.8.0
wheel==0.40.0
wincertstore==0.2
