altgraph==0.17.2
certifi==2022.6.15
future==0.18.2
macholib==1.16
pefile==2022.5.30
pip==22.2.2
pygame==2.1.2
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pywin32==304
pywin32-ctypes==0.2.0
setuptools==65.4.1
wheel==0.37.1
wincertstore==0.2
